.squares {
    display: flex;
    justify-content: center;
}

.square {
    width : 100px;
    height: 100px;
    margin: 5px;
}

.blue {
    background-color: aqua;
}

.red {
    background-color: crimson;
}